p {
    color: blue;
}

.navbar{
    background-color: #38D39F;
}

body{
    background-color: #CFF8EB;
}

.main-text{
    color: #38D39F;
    font-size: 120px;
    padding-left: 40px;
}

.sub-text{
    color: #38D39F;
    font-size:40px;
    text-align: center;
}

.big-boy{
    padding-left: 60px;
}

.signup{
    padding-left:700px;
}

.signupbtn{
    background-color: #38D39F; 
    border: none;
    color: #CFF8EB;
    padding: 10px 31px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}